<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="fansz-auth-service" owner="backend-team" organization="fansz"/>

    <dubbo:protocol name="dubbo" serialization="kryo" port="${dubbo.rpc.port}" server="netty4"
                    client="netty4"  charset="UTF-8" accepts="1000" transporter="netty4"/>

    <!-- 使用zookeeper注册中心暴露服务地址-->
    <dubbo:registry address="${dubbo.registry.address}" client="curator"/>
    <dubbo:monitor protocol="registry"/>

    <!-- 声明需要暴露的服务接口 -->

    <dubbo:service interface="com.fansz.token.api.TokenApi" ref="tokenProvider" validation="true" timeout="5000"
                   connections="100" version="${provider.version}"  retries="0" group="${provider.group}"/>

</beans>