<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="members-service-provider" owner="members" organization="fansz"/>

    <dubbo:protocol name="dubbo" serialization="kryo" port="${dubbo.rpc.port}"
                    optimizer="com.fansz.service.extension.MembersSerialOptimizerImpl" server="netty4"/>

    <!-- 使用zookeeper注册中心暴露服务地址-->
    <dubbo:registry address="${dubbo.registry.address}"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.fansz.service.api.AccountApi" ref="accountProvider" validation="true" timeout="5000"
                   connections="500" version="0.0.1" retries="1" group="${provider.group}"/>

    <dubbo:service interface="com.fansz.service.api.VerifyCodeApi" ref="verifyCodeProvider" validation="true" timeout="5000"
                   connections="500" version="0.0.1"  retries="1" group="${provider.group}"/>

</beans>