<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 -      http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!--
    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/applications/logs/relation.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
-->
    <appender name="socketAppender" class="org.apache.log4j.net.SocketAppender">
        <param name="remoteHost" value="10.0.0.7"/>
        <param name="port" value="4560"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="ReconnectionDelay" value="2000"/>
        <param name="LocationInfo" value="true"/>
    </appender>

    <!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制-->
    <logger name="com.alibaba.dubbo.remoting.exchange.support.header" additivity="false">
        <level value="info"/>
        <appender-ref ref="socketAppender"/>
    </logger>

    <logger name="org.apache.commons" additivity="false">
        <level value="info"/>
        <appender-ref ref="socketAppender"/>
    </logger>

    <logger name="org.apache.zookeeper" additivity="false">
        <level value="info"/>
        <appender-ref ref="socketAppender"/>
    </logger>

    <!-- 根logger的设置-->
    <root>
        <level value="debug"/>
        <appender-ref ref="socketAppender"/>
    </root>
</log4j:configuration>