/fansz-push/target
/fansz-redis/target
/fansz-backend.iml
target/*
!.gitignore
.DS_Store
/.idea
*.iml
/fansz-access-layer/target
/fansz-auth/fansz-auth-api/target
/fansz-auth/fansz-auth-oauth/target
/fansz-dao/target
/fansz-event-server/target
/fansz-fandom/fansz-fandom-api/target
/fansz-fandom/fansz-fandom-service/target
/fansz-newsfeeds/fansz-newsfeeds-api/target
/fansz-newsfeeds/fansz-newsfeeds-service/target
/fansz-relations/fansz-relations-api/target
/fansz-relations/fansz-relations-service/target
/fansz-access-layer/fansz-access-layer.iml
/fansz-auth/fansz-auth.iml
/fansz-dao/fansz-dao.iml
/fansz-event-server/fansz-event-server.iml
/fansz-fandom/fansz-fandom.iml
/fansz-fandom/fansz-fandom-api/fansz-fandom-api.iml
/fansz-fandom/fansz-fandom-service/fansz-fandom-service.iml
/fansz-newsfeeds/fansz-newsfeeds-api/fansz-newsfeeds-api.iml
/fansz-newsfeeds/fansz-newsfeeds-service/fansz-newsfeeds-service.iml
/fansz-newsfeeds/fansz-newsfeeds.iml
/fansz-relations/fansz-relations-api/fansz-relations-api.iml
/fansz-relations/fansz-relations-service/fansz-relations-service.iml