/fansz-service-relations/target
/fansz-service-feeds/target
/fansz-service-auth/target
/fansz-access-layer/target
/fansz-event-server/target
target/*
!.gitignore
/.idea
/fansz-service-api/target
/fansz-service-consumer/target
/fansz-service-provider/target
/fansz-storage-server/target
*.iml
.DS_Store