/fansz-service-newsfeeds/target
/fansz-fandom-api/target
/fansz-service-relations/target
/fansz-service-auth/target
/fansz-access-layer/target
/fansz-event-server/target
target/*
!.gitignore
/fansz-service-fandom/target
/fansz-dao/target
/fansz-relations-api/target
/fansz-newsfeeds-api/target
/.idea
*.iml
.DS_Store