<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.service.api.repository.SeedingSpotEntityMapper">

    <resultMap id="seedingSpotEntity" type="com.fansz.service.api.entity.SeedingSpotEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="priority_no" property="priorityNo" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="click_url" property="clickUrl" jdbcType="VARCHAR"/>
        <result column="seeding_type" property="seedingType" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="bg_img" property="bgImg" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="seedingSpotResult" type="com.fansz.fandom.model.seedingspot.SeedingSpotResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="priority_no" property="priorityNo" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="click_url" property="clickUrl" jdbcType="VARCHAR"/>
        <result column="seeding_type" property="seedingType" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="bg_img" property="bgImg" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <insert id="addSeedingSpot" parameterType="com.fansz.service.api.entity.SeedingSpotEntity">
        INSERT INTO seeding_spot_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="intro != null">
                intro,
            </if>
            <if test="priorityNo != null">
                priority_no,
            </if>
            <if test="clickUrl != null">
                click_url,
            </if>
            <if test="seedingType != null">
                seeding_type,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="bgImg != null">
                bg_img,
            </if>
            <if test="createTime != null">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="priorityNo != null">
                #{priorityNo,jdbcType=BIGINT},
            </if>
            <if test="clickUrl != null">
                #{clickUrl,jdbcType=VARCHAR},
            </if>
            <if test="seedingType != null">
                #{seedingType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="bgImg != null">
                #{bgImg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <update id="modifySeedingSpot" parameterType="com.fansz.service.api.entity.SeedingSpotEntity">
        update seeding_spot_info
        <set>
            <if test="intro != null">
                intro =  #{intro,jdbcType=VARCHAR},
            </if>
            <if test="priorityNo != null">
                priority_no =  #{priorityNo,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="clickUrl != null">
                click_url =  #{clickUrl,jdbcType=VARCHAR},
            </if>
            <if test="seedingType != null">
                seeding_type =  #{seedingType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="bgImg != null">
                bg_img = #{bgImg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delSeedingSpot">
        DELETE FROM seeding_spot_info WHERE id = #{id,jdbcType=BIGINT} AND STATUS != 1
    </delete>

    <select id="getSeedingSpotById" resultMap="seedingSpotResult" parameterType="java.lang.Long">
      SELECT
            id,
            intro,
            priority_no,
            STATUS,
            click_url,
            seeding_type,
            params,
            bg_img,
            create_time
        FROM
            seeding_spot_info
        WHERE
            id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getSeedingSpot" resultMap="seedingSpotResult" >
      SELECT
            id,
            intro,
            priority_no,
            STATUS,
            click_url,
            seeding_type,
            params,
            bg_img,
            create_time
        FROM
            seeding_spot_info
    </select>

    <select id="getSeedingSpotByStatus" parameterType="java.lang.String" resultMap="seedingSpotResult" >
        SELECT
        id,
        intro,
        priority_no,
        STATUS,
        click_url,
        seeding_type,
        params,
        bg_img,
        create_time
        FROM
        seeding_spot_info
        WHERE STATUS = #{status,jdbcType=VARCHAR}
    </select>

    <update id="modifySeedingSpotStatus" parameterType="java.lang.Object">
      UPDATE seeding_spot_info
        SET STATUS = #{stauts,jdbcType=VARCHAR}
      WHERE
         id = #{id,jdbcType=BIGINT}
    </update>

</mapper>