<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomMemberEntityMapper">

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomMemberEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_sn" property="memberSn" jdbcType="VARCHAR"/>
        <result column="fandom_sn" property="fandomSn" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="fandomResultMap" type="com.fansz.members.model.fandom.FandomInfoResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="fandom_name" property="fandomName" jdbcType="VARCHAR"/>
        <result column="fandom_parent_id" property="fandomParentId" jdbcType="BIGINT"/>
        <result column="fandom_admin_id" property="fandomAdminId" jdbcType="BIGINT"/>
        <result column="fandom_avatar_url" property="fandomAvatarUrl" jdbcType="VARCHAR"/>
        <result column="fandom_intro" property="fandomIntro" jdbcType="VARCHAR"/>
        <association property="post_member" javaType="com.fansz.members.model.profile.UserInfoResult"
                     resultMap="com.fansz.members.api.repository.UserEntityMapper.userInfoResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, member_sn, fandom_sn, join_time
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectBySelective" resultMap="BaseResultMap"
            parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where
        <if test="id != null">
            id = #{id,jdbcType=BIGINT}
        </if>
        <if test="memberId != null">
            member_sn = #{memberSn,jdbcType=VARCHAR},
        </if>
        <if test="fandomId != null">
            fandom_sn = #{fandomSn,jdbcType=VARCHAR},
        </if>
        <if test="joinTime != null">
            join_time = #{joinTime,jdbcType=TIMESTAMP},
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_fandom
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        insert into feeds_member_fandom (member_sn, fandom_sn,join_time)
        values (#{memberSn,jdbcType=VARCHAR}, #{fandomSn,jdbcType=VARCHAR},#{joinTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        insert into feeds_member_fandom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                member_sn,
            </if>
            <if test="fandomId != null">
                fandom_sn,
            </if>
            <if test="joinTime != null">
                join_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                #{memberSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomId != null">
                #{fandomSn,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                #{joinTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        update feeds_member_fandom
        <set>
            <if test="memberId != null">
                member_sn = #{memberSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomId != null">
                fandom_sn = #{fandomSn,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
    update feeds_member_fandom
    set member_sn = #{memberSn,jdbcType=VARCHAR},
      fandom_sn = #{fandomSn,jdbcType=VARCHAR},
      join_time = #{joinTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findFandomsByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select fandom_sn from feeds_member_fandom where member_sn = #{memberSn,jdbcType=VARCHAR}
    </select>

    <select id="selectByMemberAndFandom" parameterType="com.fansz.members.api.entity.FandomMemberEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where member_sn = #{memberSn,jdbcType=VARCHAR} and fandom_sn=#{fandomSn,jdbcType=VARCHAR}
    </select>

    <select id="findFandomsByMemberSn" parameterType="java.lang.String" resultMap="fandomResultMap">
        SELECT b.fandom_name,b.fandom_parent_id,b.fandom_avatar_url,b.fandom_intro,c.*
        FROM feeds_member_fandom a,feeds_fandom b,connects_member_profile c
        WHERE a.member_sn=#{memberSn,jdbcType=VARCHAR} and a.fandom_id=b.id and b.fandom_creator_sn=c.sn;
    </select>

</mapper>