<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomPostLikeEntityMapper">

    <resultMap id="userInfoResult" type="com.fansz.members.model.profile.UserInfoResult">
        <result column="sn" jdbcType="VARCHAR" property="memberSn"/>
        <result column="member_avatar" jdbcType="VARCHAR" property="memberAvatar"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomPostLikeEntity">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="member_id" property="memberId" jdbcType="BIGINT"/>
    <result column="post_id" property="postId" jdbcType="BIGINT"/>
    <result column="like_time" property="likeTime" jdbcType="TIMESTAMP"/>
</resultMap>

    <resultMap id="postLikeInfoResult" type="com.fansz.members.model.post.PostLikeInfoResult">
        <id column="id" property="likeId" jdbcType="BIGINT"/>
        <result column="post_id" property="postId" jdbcType="BIGINT"/>
        <result column="like_time" property="likeTime" jdbcType="TIMESTAMP"/>
        <association property="likeMember" resultMap="userInfoResult" />
    </resultMap>

    <sql id="Base_Column_List">
    id, member_id, post_id, like_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_post_like
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_post_like
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.FandomPostLikeEntity">
        insert into feeds_member_post_like (member_sn, post_id, like_time)
        values (#{memberSn,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT},#{likeTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomPostLikeEntity">
        insert into feeds_member_post_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                member_id,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="likeTime != null">
                like_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=BIGINT},
            </if>
            <if test="likeTime != null">
                #{likeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomPostLikeEntity">
        update feeds_member_post_like
        <set>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                post_id = #{postId,jdbcType=BIGINT},
            </if>
            <if test="likeTime != null">
                like_time = #{likeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomPostLikeEntity">
    update feeds_member_post_like
    set member_id = #{memberId,jdbcType=BIGINT},
      post_id = #{postId,jdbcType=BIGINT},
      like_time = #{likeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="listPostVotes" resultMap="postLikeInfoResult" parameterType="java.lang.Long">
         select
            l.id,
            l.like_time,
            p.nickname,
            p.sn,
            p.member_avatar
        from feeds_member_post_like l LEFT JOIN connects_member_profile p
            on l.member_sn = p.sn
        where  l.post_id =  #{postId,jdbcType=BIGINT}
  </select>

    <delete id="deleteMyLike">
        DELETE FROM feeds_member_post_like WHERE post_id = #{postId} AND member_sn = #{sn}
    </delete>
</mapper>