<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomPostEntityMapper">

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomPostEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_sn" property="memberSn" jdbcType="BIGINT"/>
        <result column="fandom_id" property="fandomId" jdbcType="BIGINT"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="WholeResultMap" type="com.fansz.members.api.model.FandomPostWholeEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_sn" property="memberSn" jdbcType="VARCHAR"/>
        <result column="fandom_id" property="fandomId" jdbcType="BIGINT"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="likeCount" property="likeCount" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="postInfoResultMap" type="com.fansz.members.model.post.PostInfoResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="fandom_id" property="fandomId" jdbcType="BIGINT"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="followed" property="followed" jdbcType="VARCHAR"/>
        <result column="likes" property="likes" jdbcType="BIGINT"/>
        <result column="comments" property="comments" jdbcType="BIGINT"/>
        <association property="userInfoResult" javaType="com.fansz.members.model.profile.UserInfoResult"
                     resultMap="com.fansz.members.api.repository.UserEntityMapper.userInfoResultMap"/>
        <association property="fandomInfoResult" javaType="com.fansz.members.model.fandom.FandomInfoResult"
                     resultMap="com.fansz.members.api.repository.FandomMapper.fandomInfoResultMap"/>
    </resultMap>

    <resultMap id="memberFandomPostsMap" type="com.fansz.members.api.entity.MemberPostEntity">
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <association property="userEntiy" javaType="com.fansz.members.api.entity.UserEntity">
            <id column="m_id" property="id"/>
            <result column="m_sn" property="sn"/>
            <result column="m_nickname" property="nickname"/>
            <result column="m_member_avatar" property="memberAvatar"/>
        </association>
    </resultMap>

    <resultMap id="searchPostResult" type="com.fansz.members.model.post.SearchPostResult">
        <result column="id" property="postId" jdbcType="VARCHAR"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <association property="postMember" resultMap="com.fansz.members.api.repository.UserEntityMapper.userInfoResultMap"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, member_sn, fandom_id, post_title,post_content,post_newsfeeds, post_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_post_fandom
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectNewByFandomId" resultMap="WholeResultMap" parameterType="java.lang.Long">

        select
        <include refid="Base_Column_List"/>, likeCount
        from feeds_member_post_fandom post,
        (select count(1) likeCount, post_id from feeds_member_post_like group by post_id) post_count
        where post.id = post_count.post_id
        and post.fandom_id = #{id,jdbcType=BIGINT}
        order by post.post_time DESC
    </select>

    <select id="selectHotByFandomId" resultMap="WholeResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_post_fandom
        where fandom_id = #{id,jdbcType=BIGINT}

        select
        <include refid="Base_Column_List"/>
        , likeCount
        from feeds_member_post_fandom post,
        (select count(1) likeCount, post_id from feeds_member_post_like group by post_id) post_count
        where post.id = post_count.post_id
        and post.fandom_id = #{id,jdbcType=BIGINT}
        order by likeCount DESC
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_post_fandom
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.FandomPostEntity">
        insert into feeds_member_post_fandom (member_sn, fandom_id, post_title,post_content,post_newsfeeds, post_time)
        values (#{memberSn,jdbcType=VARCHAR}, #{fandomId,jdbcType=BIGINT},#{postTitle,jdbcType=VARCHAR},
        #{postContent,jdbcType=VARCHAR},#{postNewsfeeds,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomPostEntity">
        insert into feeds_member_post_fandom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                member_sn,
            </if>
            <if test="fandomId != null">
                fandom_id,
            </if>
            <if test="postTitle != null">
                post_title,
            </if>
            <if test="postContent != null">
                post_content,
            </if>
            <if test="postNewsfeeds!=null">
                post_newsfeeds,
            </if>
            <if test="postTime != null">
                post_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberSn != null">
                #{memberSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomId != null">
                #{fandomId,jdbcType=BIGINT},
            </if>
            <if test="postTitle != null">
                #{postTitle,jdbcType=VARCHAR},
            </if>
            <if test="postContent != null">
                #{postContent,jdbcType=VARCHAR},
            </if>
            <if test="postNewsfeeds!=null">
                #{postNewsfeeds,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                #{postTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomPostEntity">
        update feeds_member_post_fandom
        <set>
            <if test="memberSn != null">
                member_sn = #{memberSn,jdbcType=BIGINT},
            </if>
            <if test="fandomId != null">
                fandom_id = #{fandomId,jdbcType=BIGINT},
            </if>
            <if test="postTitle != null">
                post_title=#{postTitle,jdbcType=VARCHAR},
            </if>
            <if test="postContent != null">
                post_content = #{postContent,jdbcType=VARCHAR},
            </if>
            <if test="postNewsfeeds != null">
                post_newsfeeds = #{postNewsfeeds,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                post_time = #{postTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomPostEntity">
    update feeds_member_post_fandom
    set member_sn = #{memberSn,jdbcType=VARCHAR},
      fandom_id = #{fandomId,jdbcType=BIGINT},
      post_title=#{postTitle,jdbcType=VARCHAR},
      post_content = #{postContent,jdbcType=VARCHAR},
      post_newsfeeds = #{postNewsfeeds,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findPostsOfMyFandoms" parameterType="java.lang.String" resultMap="postInfoResultMap">
         SELECT
            a.*, b.sn,
            b.nickname,
            b.member_avatar,
            c.* ,(
                SELECT
                    count(1)
                FROM
                    feeds_member_post_like
                WHERE
                    post_id = a.id
            ) likes,
            (
                SELECT
                    count(1)
                FROM
                    feeds_member_post_comment
                WHERE
                    post_id = a.id
            ) comments
        FROM
            feeds_member_fandom c,
            feeds_member_post_fandom a,
            connects_member_profile b
        WHERE
            c.member_sn = #{memberSn,jdbcType=VARCHAR}
        AND c.fandom_id = a.fandom_id
        AND c.member_sn = b.sn
    </select>

    <select id="findPostsOfMyFriends" parameterType="java.lang.String" resultMap="postInfoResultMap">
        SELECT a.*,b.sn,b.nickname,b.member_avatar,
        (SELECT count(1) FROM feeds_member_post_like where post_id=a.id) likes,
        (SELECT count(1) FROM feeds_member_post_comment where post_id=a.id) comments
        FROM feeds_member_post_fandom a,connects_member_profile b,feeds_member_fandom c
        WHERE c.member_sn=#{memberSn,jdbcType=VARCHAR}
        AND a.fandom_id=c.fandom_id
        AND a.member_sn=b.sn
        AND a.post_newsfeeds='1'
        AND a.fandom_id is null
    </select>

    <select id="searchPosts" parameterType="java.lang.String" resultMap="searchPostResult">
        SELECT
            f.id,
            f.post_title,
            f.post_content,
            f.post_newsfeeds,
            f.post_time,
            p.sn,
            p.nickname,
            p.member_avatar
        FROM
            feeds_member_post_fandom f
        LEFT JOIN connects_member_profile p ON f.member_sn = p.sn
        WHERE
            f.post_title LIKE concat('%',#{searchVal},'%')
        or f.post_content LIKE concat('%',#{searchVal},'%')
    </select>

    <select id="getPost" parameterType="com.fansz.members.model.post.PostParam" resultMap="postInfoResultMap">
        SELECT p.id,p.fandom_id, p.post_title, p.post_content, p.post_newsfeeds, p.post_time,
               m.sn,m.nickname,m.member_avatar, if(l.id is null,'0','1') followed,
        (SELECT count(1) FROM feeds_member_post_like where post_id=p.id) likes,
        (SELECT count(1) FROM feeds_member_post_comment where post_id=p.id) comments
        FROM connects_member_profile m,feeds_member_post_fandom p LEFT JOIN feeds_member_post_like l on p.id = l.post_id and l.member_sn = #{memberSn,jdbcType=VARCHAR}
        WHERE  p.id = #{postId,jdbcType=VARCHAR}
        AND p.member_sn=m.sn
    </select>



    <select id="memberFandomPosts" resultMap="memberFandomPostsMap">
        SELECT T1.post_title, T1.post_content, T1.post_newsfeeds, T1.post_time,
         T2.id m_id, T2.sn m_sn, T2.nickname m_nickname, T2.member_avatar m_member_avatar
        FROM feeds_member_post_fandom T1
        INNER JOIN connects_member_profile T2
        ON T1.member_sn = T2.sn
        WHERE T1.fandom_id = #{fandomId} AND T1.member_sn = #{memberSn}
        ORDER BY T1.post_time DESC
    </select>

    <select id="countMemberFandomPosts" resultType="int">
        SELECT COUNT(1) FROM feeds_member_post_fandom WHERE fandom_id = #{fandomId} AND member_sn = #{memberSn}
    </select>

    <select id="newFandomPosts" resultMap="memberFandomPostsMap">
        SELECT T1.post_title, T1.post_content, T1.post_newsfeeds, T1.post_time,
        T2.id m_id, T2.sn m_sn, T2.nickname m_nickname, T2.member_avatar m_member_avatar
        FROM feeds_member_post_fandom T1
        INNER JOIN connects_member_profile T2
        ON T1.member_sn = T2.sn
        WHERE T1.fandom_id = #{fandomId}
        ORDER BY T1.post_time DESC
        LIMIT ${(pageNum - 1)*pageSize},#{pageSize}
    </select>

    <select id="hotFandomPosts" resultMap="memberFandomPostsMap">
        SELECT T1.post_title, T1.post_content, T1.post_newsfeeds, T1.post_time,
        T2.id m_id, T2.sn m_sn, T2.nickname m_nickname, T2.member_avatar m_member_avatar
        FROM feeds_member_post_fandom T1
        INNER JOIN connects_member_profile T2
        ON T1.member_sn = T2.sn
        LEFT JOIN (select count(1) likeCount, post_id from feeds_member_post_like group by post_id) T3
        ON T1.fandom_id = T3.post_id
        WHERE T1.fandom_id = #{fandomId}
        ORDER BY T3.likeCount DESC
        LIMIT ${(pageNum - 1)*pageSize},#{pageSize}
    </select>

    <select id="countFandomPosts" resultType="int">
        SELECT COUNT(1) FROM feeds_member_post_fandom WHERE fandom_id = #{fandomId}
    </select>
</mapper>