<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomMapper" >
  <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fandom_name" property="fandomName" jdbcType="VARCHAR" />
    <result column="fandom_parent_id" property="fandomParentId" jdbcType="INTEGER" />
    <result column="fandom_admin_id" property="fandomAdminId" jdbcType="INTEGER" />
    <result column="fandom_creator_id" property="fandomCreatorId" jdbcType="INTEGER" />
    <result column="fandom_avatar_url" property="fandomAvatarUrl" jdbcType="VARCHAR" />
    <result column="fandom_intro" property="fandomIntro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fandom_name, fandom_parent_id, fandom_admin_id, fandom_creator_id, fandom_avatar_url, 
    fandom_intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feeds_fandom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feeds_fandom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fansz.members.api.entity.FandomEntity" >
    insert into feeds_fandom (id, fandom_name, fandom_parent_id, 
      fandom_admin_id, fandom_creator_id, fandom_avatar_url, 
      fandom_intro)
    values (#{id,jdbcType=INTEGER}, #{fandomName,jdbcType=VARCHAR}, #{fandomParentId,jdbcType=INTEGER}, 
      #{fandomAdminId,jdbcType=INTEGER}, #{fandomCreatorId,jdbcType=INTEGER}, #{fandomAvatarUrl,jdbcType=VARCHAR}, 
      #{fandomIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomEntity" >
    insert into feeds_fandom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fandomName != null" >
        fandom_name,
      </if>
      <if test="fandomParentId != null" >
        fandom_parent_id,
      </if>
      <if test="fandomAdminId != null" >
        fandom_admin_id,
      </if>
      <if test="fandomCreatorId != null" >
        fandom_creator_id,
      </if>
      <if test="fandomAvatarUrl != null" >
        fandom_avatar_url,
      </if>
      <if test="fandomIntro != null" >
        fandom_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fandomName != null" >
        #{fandomName,jdbcType=VARCHAR},
      </if>
      <if test="fandomParentId != null" >
        #{fandomParentId,jdbcType=INTEGER},
      </if>
      <if test="fandomAdminId != null" >
        #{fandomAdminId,jdbcType=INTEGER},
      </if>
      <if test="fandomCreatorId != null" >
        #{fandomCreatorId,jdbcType=INTEGER},
      </if>
      <if test="fandomAvatarUrl != null" >
        #{fandomAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="fandomIntro != null" >
        #{fandomIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomEntity" >
    update feeds_fandom
    <set >
      <if test="fandomName != null" >
        fandom_name = #{fandomName,jdbcType=VARCHAR},
      </if>
      <if test="fandomParentId != null" >
        fandom_parent_id = #{fandomParentId,jdbcType=INTEGER},
      </if>
      <if test="fandomAdminId != null" >
        fandom_admin_id = #{fandomAdminId,jdbcType=INTEGER},
      </if>
      <if test="fandomCreatorId != null" >
        fandom_creator_id = #{fandomCreatorId,jdbcType=INTEGER},
      </if>
      <if test="fandomAvatarUrl != null" >
        fandom_avatar_url = #{fandomAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="fandomIntro != null" >
        fandom_intro = #{fandomIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomEntity" >
    update feeds_fandom
    set fandom_name = #{fandomName,jdbcType=VARCHAR},
      fandom_parent_id = #{fandomParentId,jdbcType=INTEGER},
      fandom_admin_id = #{fandomAdminId,jdbcType=INTEGER},
      fandom_creator_id = #{fandomCreatorId,jdbcType=INTEGER},
      fandom_avatar_url = #{fandomAvatarUrl,jdbcType=VARCHAR},
      fandom_intro = #{fandomIntro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>