<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomMapper">

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="fandom_name" property="fandomName" jdbcType="VARCHAR"/>
        <result column="fandom_parent_id" property="fandomParentId" jdbcType="BIGINT"/>
        <result column="fandom_admin_sn" property="fandomAdminSn" jdbcType="BIGINT"/>
        <result column="fandom_creator_sn" property="fandomCreatorSn" jdbcType="BIGINT"/>
        <result column="fandom_avatar_url" property="fandomAvatarUrl" jdbcType="VARCHAR"/>
        <result column="fandom_intro" property="fandomIntro" jdbcType="VARCHAR"/>
        <result column="fandom_create_time" property="fandomCreateTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="fandomAllInfoResultMap" type="com.fansz.members.model.fandom.FandomInfoResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="fandom_name" property="fandomName" jdbcType="VARCHAR"/>
        <result column="fandom_parent_id" property="fandomParentId" jdbcType="BIGINT"/>
        <result column="fandom_admin_sn" property="fandomAdminSn" jdbcType="BIGINT"/>
        <result column="fandom_avatar_url" property="fandomAvatarUrl" jdbcType="VARCHAR"/>
        <result column="fandom_intro" property="fandomIntro" jdbcType="VARCHAR"/>
        <result column="fandom_create_time" property="fandomCreateTime" jdbcType="DATE"/>
        <result column="followed" property="followed" jdbcType="VARCHAR"/>
        <result column="follower_count" property="followerCount" jdbcType="INTEGER"/>
        <result column="post_count" property="postCount" jdbcType="INTEGER"/>
        <association property="creator" javaType="com.fansz.members.model.profile.UserInfoResult"
                     resultMap="com.fansz.members.api.repository.UserEntityMapper.userInfoResultMap"  columnPrefix="u_"/>
    </resultMap>

    <sql id="Fandom_Column_List">
        ${alias}.id, ${alias}.fandom_name, ${alias}.fandom_parent_id, ${alias}.fandom_admin_sn, ${alias}.fandom_creator_sn, ${alias}.fandom_avatar_url,
        ${alias}.fandom_intro, ${alias}.fandom_create_time
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Fandom_Column_List"><property name="alias" value="a"/></include>
        from feeds_fandom a
        where a.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Fandom_Column_List"><property name="alias" value="a"/></include>
        from feeds_fandom a
        where a.fandom_parent_id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_fandom
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.FandomEntity">
        insert into feeds_fandom (fandom_name,fandom_parent_id,fandom_admin_sn,
        fandom_creator_sn,fandom_avatar_url,fandom_intro,fandom_create_time)
        values (#{fandomName,jdbcType=VARCHAR}, #{fandomParentId,jdbcType=BIGINT},
        #{fandomAdminSn,jdbcType=BIGINT}, #{fandomCreatorSn,jdbcType=BIGINT}, #{fandomAvatarUrl,jdbcType=VARCHAR},
        #{fandomIntro,jdbcType=VARCHAR}, #{fandomCreateTime})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomEntity">
        insert into feeds_fandom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fandomName != null">
                fandom_name,
            </if>
            <if test="fandomParentId != null">
                fandom_parent_id,
            </if>
            <if test="fandomAdminSn != null">
                fandom_admin_sn,
            </if>
            <if test="fandomCreatorSn != null">
                fandom_creator_sn,
            </if>
            <if test="fandomAvatarUrl != null">
                fandom_avatar_url,
            </if>
            <if test="fandomIntro != null">
                fandom_intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fandomName != null">
                #{fandomName,jdbcType=VARCHAR},
            </if>
            <if test="fandomParentId != null">
                #{fandomParentId,jdbcType=BIGINT},
            </if>
            <if test="fandomAdminSn != null">
                #{fandomAdminSn,jdbcType=BIGINT},
            </if>
            <if test="fandomCreatorSn != null">
                #{fandomCreatorSn,jdbcType=BIGINT},
            </if>
            <if test="fandomAvatarUrl != null">
                #{fandomAvatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="fandomIntro != null">
                #{fandomIntro,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomEntity">
        update feeds_fandom
        <set>
            <if test="fandomName != null">
                fandom_name = #{fandomName,jdbcType=VARCHAR},
            </if>
            <if test="fandomParentId != null">
                fandom_parent_id = #{fandomParentId,jdbcType=BIGINT},
            </if>
            <if test="fandomAdminSn != null">
                fandom_admin_sn = #{fandomAdminSn,jdbcType=BIGINT},
            </if>
            <if test="fandomCreatorSn != null">
                fandom_creator_sn = #{fandomCreatorSn,jdbcType=BIGINT},
            </if>
            <if test="fandomAvatarUrl != null">
                fandom_avatar_url = #{fandomAvatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="fandomIntro != null">
                fandom_intro = #{fandomIntro,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomEntity">
    update feeds_fandom
    set fandom_name = #{fandomName,jdbcType=VARCHAR},
      fandom_parent_id = #{fandomParentId,jdbcType=BIGINT},
      fandom_admin_sn = #{fandomAdminSn,jdbcType=BIGINT},
      fandom_creator_sn = #{fandomCreatorSn,jdbcType=BIGINT},
      fandom_avatar_url = #{fandomAvatarUrl,jdbcType=VARCHAR},
      fandom_intro = #{fandomIntro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <select id="listByCondition" parameterType="com.fansz.members.api.entity.FandomEntity"
            resultMap="fandomAllInfoResultMap">
        SELECT
        <include refid="Fandom_Column_List"><property name="alias" value="a"/></include>,
        <include refid="com.fansz.members.api.repository.UserEntityMapper.User_Column_List"><property name="alias" value="b"/></include>
        FROM feeds_fandom a LEFT JOIN
        connects_member_profile b ON a.fandom_creator_sn = b.sn
        <where>
            <if test="fandomName != null">
                fandom_name = #{fandomName,jdbcType=VARCHAR},
            </if>
            <if test="fandomParentId != null">
                fandom_parent_id = #{fandomParentId,jdbcType=BIGINT},
            </if>
            <if test="fandomAdminSn != null">
                fandom_admin_sn = #{fandomAdminSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomCreatorSn != null">
                fandom_creator_sn = #{fandomCreatorSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomAvatarUrl != null">
                fandom_avatar_url = #{fandomAvatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="fandomIntro != null">
                fandom_intro = #{fandomIntro,jdbcType=VARCHAR},
            </if>
        </where>
    </select>

    <select id="getRecommendFandom" parameterType="java.lang.String" resultMap="fandomAllInfoResultMap">
            SELECT  f.*,m.count follower_count,p.member_avatar,p.sn u_sn,p.nickname u_nickname,
            (select count(1) from feeds_member_fandom t where t.fandom_id=f.id and t.member_sn=#{memberSn,jdbcType=VARCHAR}) followed,
            (select count(1) from feeds_member_post_fandom g where g.fandom_id=f.id) post_count
            from feeds_fandom  f,
            (select  count(1)  count, fandom_id from feeds_member_fandom  group by fandom_id)  m,
            connects_member_profile p
            where f.id = m.fandom_id
            and   f.fandom_creator_sn = p.sn
            order by m.count desc
    </select>

    <select id="getFandomDetail" resultMap="fandomAllInfoResultMap">
        SELECT  f.*,p.member_avatar,p.sn u_sn,p.nickname u_nickname,
        (SELECT COUNT(1)+IFNULL(t.infatuation,0) FROM feeds_member_fandom t WHERE t.fandom_id=f.id AND t.member_sn=#{memberSn,jdbcType=VARCHAR}) followed,
        (SELECT COUNT(1) from feeds_member_post_fandom g WHERE g.fandom_id=f.id) post_count,
        (SELECT COUNT(1) from feeds_member_fandom t WHERE t.fandom_id=f.id) follower_count
        FROM feeds_fandom  f, connects_member_profile p
        WHERE f.id =  #{fandomId,jdbcType=BIGINT} AND f.fandom_creator_sn=p.sn
    </select>

    <select id="getFandomCategory" parameterType="java.lang.Long" resultMap="fandomAllInfoResultMap">
        select
        <include refid="Fandom_Column_List"><property name="alias" value="a"/></include>
        from feeds_fandom a
        where a.fandom_parent_id = #{id,jdbcType=BIGINT}
        order by a.id
    </select>

    <select id="getFandomMembers"
            resultMap="com.fansz.members.api.repository.UserRelationEntityMapper.contactInfoMap">
        SELECT p.*,
        (SELECT r.relation_status FROM connects_member_relation r
        WHERE (r.friend_member_sn=p.sn and r.my_member_sn = #{memberSn,jdbcType=VARCHAR}) OR(r.my_member_sn=p.sn AND r.friend_member_sn = #{memberSn,jdbcType=VARCHAR})) relation_status
        FROM  feeds_member_fandom m, connects_member_profile  p
        WHERE m.fandom_id =  #{fandomId,jdbcType=BIGINT}
        AND   m.member_sn=p.sn
        AND p.member_status='1'
    </select>

    <select id="searchFandoms" parameterType="java.lang.String" resultMap="fandomAllInfoResultMap">
      SELECT
                ff.id,
                ff.fandom_name,
                ff.fandom_parent_id,
                ff.fandom_creator_sn,
                ff.fandom_avatar_url,
                ff.fandom_intro,
                (
                    SELECT
                        count(1)
                    FROM
                        feeds_member_fandom
                    WHERE
                        fandom_id = ff.id
                ) followerCount,
                (
                    SELECT
                        count(1)
                    FROM
                        feeds_member_post_fandom
                    WHERE
                        fandom_id = ff.id
                ) postCount,
                (
                    SELECT
                        infatuation
                    FROM
                        feeds_member_fandom
                    WHERE
                        member_sn = #{memberSn,jdbcType=VARCHAR}
                    AND fandom_id=ff.id
                ) followed,
              <include refid="com.fansz.members.api.repository.UserEntityMapper.User_Column_List"><property name="alias" value="mp"/></include>
            FROM
                feeds_fandom ff
            LEFT JOIN connects_member_profile mp ON ff.fandom_creator_sn = mp.sn
            WHERE fandom_name like concat('%',#{searchVal},'%')
            OR fandom_intro like  concat('%',#{searchVal},'%')
    </select>

    <select id="getCountByFandomName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            feeds_fandom
        WHERE
            fandom_name = #{fandomName,jdbcType=VARCHAR}
    </select>

</mapper>