<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.MemberAlbumEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.MemberAlbumEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_sn" property="memberSn" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_sn, img_url, source, upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_album
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fansz.members.api.entity.MemberAlbumEntity" >
    insert into member_album (id, member_sn, img_url, 
      source, upload_time)
    values (#{id,jdbcType=INTEGER}, #{memberSn,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fansz.members.api.entity.MemberAlbumEntity" >
    insert into member_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberSn != null" >
        member_sn,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberSn != null" >
        #{memberSn,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.MemberAlbumEntity" >
    update member_album
    <set >
      <if test="memberSn != null" >
        member_sn = #{memberSn,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.MemberAlbumEntity" >
    update member_album
    set member_sn = #{memberSn,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getImages" resultType="java.lang.String" parameterType="java.lang.String" >
    select
    img_url
    from member_album
    where member_sn = #{id,jdbcType=VARCHAR}
    order BY upload_time DESC
    limit 4
  </select>
</mapper>