<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.MessageCenterMapper">

    <resultMap id="messageCenterResultMap" type="com.fansz.members.model.messagecenter.MessageCenterResult" >
        <result property="member_sn" column="memberSn" jdbcType="VARCHAR"/>
        <result property="operation_time" column="operationTime" jdbcType="TIMESTAMP"/>
        <result property="post_id" column="postId" jdbcType="BIGINT"/>
        <result property="op_type" column="opType" jdbcType="VARCHAR"/>
        <result property="like_comment_content" column="likeCommentContent" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="member_avatar" column="memberAvatar" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMessageByMemberSn" parameterType="java.lang.String" resultMap="messageCenterResultMap">
        SELECT
            q.member_sn,
            q.operation_time,
            q.post_id,
            q.like_type op_type,
            q.1 like_comment_content,
            p.nickname,
            p.member_avatar
        FROM
            (
                SELECT
                    n.member_sn member_sn,
                    n.like_time operation_time,
                    n.post_id,
                    'like_type',
                    '1'
                FROM
                    feeds_member_post_like n
                WHERE
                    n.post_id IN (
                        SELECT
                            t.id
                        FROM
                            feeds_member_post_fandom t
                        WHERE
                            t.member_sn = #{memberSn,jdbcType=VARCHAR}
                    )
                UNION
                    SELECT
                        m.commentator_sn member_sn,
                        m.comment_time operation_time,
                        m.post_id,
                        'comment_type',
                        m.comment_content
                    FROM
                        feeds_member_post_comment m
                    WHERE
                        m.post_id IN (
                            SELECT
                                t.id
                            FROM
                                feeds_member_post_fandom t
                            WHERE
                                t.member_sn = #{memberSn,jdbcType=VARCHAR}
                        )
            ) q
        LEFT JOIN connects_member_profile p ON q.member_sn = p.sn
        ORDER BY
            q.operation_time DESC
    </select>

</mapper>