<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.UserRelationEntityMapper">
    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.UserRelationEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="my_member_id" property="myMemberId" jdbcType="BIGINT"/>
        <result column="freind_member_id" property="freindMemberId" jdbcType="BIGINT"/>
        <result column="relation_status" property="relationStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, my_member_id, freind_member_id, relation_status
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from connects_member_relation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from connects_member_relation where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.UserRelationEntity">
        insert into connects_member_relation (my_member_id, freind_member_id,relation_status)
        values (#{myMemberId,jdbcType=BIGINT}, #{freindMemberId,jdbcType=BIGINT},#{relationStatus,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.UserRelationEntity">
        insert into connects_member_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="myMemberId != null">
                my_member_id,
            </if>
            <if test="freindMemberId != null">
                freind_member_id,
            </if>
            <if test="relationStatus != null">
                relation_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="myMemberId != null">
                #{myMemberId,jdbcType=BIGINT},
            </if>
            <if test="freindMemberId != null">
                #{freindMemberId,jdbcType=BIGINT},
            </if>
            <if test="relationStatus != null">
                #{relationStatus,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.UserRelationEntity">
        update connects_member_relation
        <set>
            <if test="myMemberId != null">
                my_member_id = #{myMemberId,jdbcType=BIGINT},
            </if>
            <if test="freindMemberId != null">
                freind_member_id = #{freindMemberId,jdbcType=BIGINT},
            </if>
            <if test="relationStatus != null">
                relation_status = #{relationStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.UserRelationEntity">
    update connects_member_relation
    set my_member_id = #{myMemberId,jdbcType=BIGINT},
      freind_member_id = #{freindMemberId,jdbcType=BIGINT},
      relation_status = #{relationStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>