<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.FandomMemberEntityMapper">

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.FandomMemberEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_sn" property="memberSn" jdbcType="VARCHAR"/>
        <result column="fandom_id" property="fandomId" jdbcType="VARCHAR"/>
        <result column="infatuation" property="infatuation" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, member_sn, fandom_id,infatuation, join_time
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where id = #{id,jdbcType=BIGINT}ø
    </select>

    <select id="selectBySelective" resultMap="BaseResultMap"
            parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where
        <if test="id != null">
            id = #{id,jdbcType=BIGINT}
        </if>
        <if test="memberSn != null">
            member_sn = #{memberSn,jdbcType=VARCHAR},
        </if>
        <if test="fandomId != null">
            fandom_id = #{fandomId,jdbcType=VARCHAR},
        </if>
        <if test="infatuation != null">
            infatuation = #{infatuation,jdbcType=VARCHAR},
        </if>
        <if test="joinTime != null">
            join_time = #{joinTime,jdbcType=TIMESTAMP},
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_fandom
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        insert into feeds_member_fandom (member_sn, fandom_id,infatuation,join_time)
        values (#{memberSn,jdbcType=VARCHAR}, #{fandomId,jdbcType=VARCHAR},#{infatuation,jdbcType=VARCHAR},#{joinTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        insert into feeds_member_fandom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberSn != null">
                member_sn,
            </if>
            <if test="fandomId != null">
                fandom_id,
            </if>
            <if test="infatuation != null">
                infatuation,
            </if>
            <if test="joinTime != null">
                join_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberSn != null">
                #{memberSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomId != null">
                #{fandomId,jdbcType=VARCHAR},
            </if>
            <if test="infatuation != null">
               #{infatuation,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                #{joinTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
        update feeds_member_fandom
        <set>
            <if test="memberSn != null">
                member_sn = #{memberSn,jdbcType=VARCHAR},
            </if>
            <if test="fandomId != null">
                fandom_Id = #{fandomId,jdbcType=VARCHAR},
            </if>
            <if test="infatuation != null">
                infatuation = #{infatuation,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.FandomMemberEntity">
    update feeds_member_fandom
    set member_sn = #{memberSn,jdbcType=VARCHAR},
      fandom_sn = #{fandomId,jdbcType=VARCHAR},
      join_time = #{joinTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findFandomsByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select fandom_sn from feeds_member_fandom where member_sn = #{memberSn,jdbcType=VARCHAR}
    </select>

    <select id="selectByMemberAndFandom" parameterType="com.fansz.members.api.entity.FandomMemberEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_fandom
        where member_sn = #{memberSn,jdbcType=VARCHAR} and fandom_id=#{fandomId,jdbcType=VARCHAR}
    </select>

    <select id="findFandomsByMemberSn" parameterType="java.lang.String"
            resultMap="com.fansz.members.api.repository.FandomMapper.fandomAllInfoResultMap">
        SELECT b.id,b.fandom_name,b.fandom_parent_id,b.fandom_avatar_url,b.fandom_intro,b.fandom_create_time,
        <include refid="com.fansz.members.api.repository.UserMapper.User_Column_List"><property name="alias" value="c"/></include>,
        (SELECT count(1) FROM feeds_member_fandom WHERE fandom_id=a.fandom_id) follower_count,
        (SELECT count(1) FROM feeds_member_post_fandom WHERE fandom_id=a.fandom_id) post_count,
        (SELECT count(1)+IFNULL(infatuation,0) FROM feeds_member_fandom WHERE fandom_id=a.fandom_id and member_sn=#{memberSn,jdbcType=VARCHAR})followed
        FROM feeds_member_fandom a,feeds_fandom b,connects_member_profile c
        WHERE a.member_sn=#{memberSn,jdbcType=VARCHAR} and a.fandom_id=b.id and b.fandom_creator_sn=c.sn;
    </select>

    <select id="getFandomMembers"
            resultMap="com.fansz.members.api.repository.UserRelationEntityMapper.contactInfoMap">
        SELECT p.*,b.relation_status
        FROM  feeds_fandom f
        LEFT JOIN  feeds_member_fandom m
       <![CDATA[ on f.id = m.fandom_id and f.fandom_creator_sn <> m.member_sn]]>
        INNER JOIN connects_member_profile  p
        ON m.member_sn=p.sn
        LEFT JOIN connects_member_relation b
        ON b.friend_member_sn=p.sn AND  b.my_member_sn=#{memberSn,jdbcType=VARCHAR}
        WHERE m.fandom_id =  #{fandomId,jdbcType=BIGINT}
        AND p.member_status='1'
    </select>

</mapper>