<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.members.api.repository.PostCommentEntityMapper">

    <resultMap id="BaseResultMap" type="com.fansz.members.api.entity.PostCommentEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="post_id" property="postId" jdbcType="BIGINT"/>
        <result column="comment_parent_id" property="commentParentId" jdbcType="BIGINT"/>
        <result column="commentator_sn" property="commentatorSn" jdbcType="VARCHAR"/>
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR"/>
        <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP"/>
        <result column="comment_source" property="commentSource" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, post_id, commentator_sn, comment_content, comment_time
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_post_comment
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_post_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.members.api.entity.PostCommentEntity">
        insert into feeds_member_post_comment (post_id,comment_parent_id,commentator_sn, comment_content, comment_time,comment_source)
        values (#{postId,jdbcType=BIGINT}, #{commentParentId,jdbcType=BIGINT},#{commentatorSn,jdbcType=VARCHAR},
        #{commentContent,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP},#{commentSource,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.fansz.members.api.entity.PostCommentEntity">
        insert into feeds_member_post_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                post_id,
            </if>
            <if test="commentatorSn != null">
                commentator_sn,
            </if>
            <if test="commentContent != null">
                comment_content,
            </if>
            <if test="commentTime != null">
                comment_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId,jdbcType=BIGINT},
            </if>
            <if test="commentatorSn != null">
                #{commentator_sn,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="commentTime != null">
                #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fansz.members.api.entity.PostCommentEntity">
        update feeds_member_post_comment
        <set>
            <if test="postId != null">
                post_id = #{postId,jdbcType=BIGINT},
            </if>
            <if test="commentatorSn != null">
                commentator_sn = #{commentatorId,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                comment_content = #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="commentTime != null">
                comment_time = #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fansz.members.api.entity.PostCommentEntity">
    update feeds_member_post_comment
    set post_id = #{postId,jdbcType=BIGINT},
      commentator_sn = #{commentatorSn,jdbcType=VARCHAR},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getCommentsByPostidFromFandom" resultType="com.fansz.members.model.comment.CommentQueryFromFandomResult" parameterType="java.lang.Object">
         SELECT
            t.id,
            t.post_id postId,
            t.comment_content commentContent,
            t.commentator_sn commentatorSn,
            m.nickname commentatorNickname,
            t.comment_time commentTime,
            m.member_avatar commentatorAvatar,
            p.commentator_sn orginSn,
            p.comment_content orginContent,
            p.comment_time orginTime,
            q.nickname orginNickname,
            q.member_avatar orginAvatar
        FROM
            feeds_member_post_comment t
        LEFT JOIN connects_member_profile m ON m.sn = t.commentator_sn
        LEFT JOIN feeds_member_post_comment p ON t.comment_parent_id = p.id
        LEFT JOIN connects_member_profile q ON p.commentator_sn = q.sn
        WHERE
            t.post_id = #{postId,jdbcType=BIGINT} AND t.comment_source=#{commentSource,jdbcType=VARCHAR}
    </select>

    <select id="selectByIdAndSn" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM feeds_member_post_comment WHERE id = #{id,jdbcType=BIGINT} AND commentator_sn = #{sn,jdbcType=VARCHAR}
    </select>
</mapper>