<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="members-event-server" owner="backend-team" organization="fansz"/>

    <dubbo:registry address="${dubbo.registry.address}" client="curator"/>

    <dubbo:monitor protocol="registry"/>
    <!--<dubbo:reference interface="com.fansz.fandom.api.SpecialFocusApi" id="specialFocusProvider" validation="true"
                     timeout="5000" connections="500" protocol="dubbo" version="${provider.version}" retries="1"
                     group="${provider.group}" client="netty4"/>-->
</beans>