<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansz.fandom.repository.FandomPostEntityMapper">

    <resultMap id="BaseResultMap" type="com.fansz.fandom.entity.FandomPostEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_sn" property="memberSn" jdbcType="BIGINT"/>
        <result column="fandom_id" property="fandomId" jdbcType="BIGINT"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="postInfoResultMap" type="com.fansz.fandom.model.post.PostInfoResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="post_newsfeeds" property="postNewsfeeds" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="liked" property="liked" jdbcType="VARCHAR"/>
        <result column="likes" property="likes" jdbcType="BIGINT"/>
        <result column="comments" property="comments" jdbcType="BIGINT"/>
        <association property="userInfoResult" javaType="com.fansz.fandom.model.profile.UserInfoResult"
                     resultMap="com.fansz.fandom.repository.UserMapper.userInfoResultMap" columnPrefix="ui_"/>
        <association property="fandomInfoResult" javaType="com.fansz.fandom.model.fandom.FandomInfoResult"
                     resultMap="com.fansz.fandom.repository.FandomMapper.fandomAllInfoResultMap" columnPrefix="fi_"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, member_sn, fandom_id, post_title,post_content,post_newsfeeds, post_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from feeds_member_post_fandom
        where id = #{id,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feeds_member_post_fandom
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fansz.fandom.entity.FandomPostEntity">
        insert into feeds_member_post_fandom (member_sn, fandom_id, post_title,post_content,post_newsfeeds, post_time)
        values (#{memberSn,jdbcType=VARCHAR}, #{fandomId,jdbcType=BIGINT},#{postTitle,jdbcType=VARCHAR},
        #{postContent,jdbcType=VARCHAR},#{postNewsfeeds,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="incrLikeCountById" parameterType="java.lang.Long">
        UPDATE feeds_member_post_fandom
        SET like_count=IFNULL(like_count,0)+1
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="decrLikeCountById" parameterType="java.lang.Long">
        UPDATE feeds_member_post_fandom
        SET like_count=CASE WHEN IFNULL(like_count,0)-1 <![CDATA[<]]> 0 THEN 0 ELSE IFNULL(like_count,0)-1 END
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="incrCommentCountById" parameterType="java.lang.Long">
        UPDATE feeds_member_post_fandom
        SET comment_count=IFNULL(comment_count,0)+1
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="decrCommentCountById" parameterType="java.lang.Long">
        UPDATE feeds_member_post_fandom
        SET comment_count=CASE WHEN IFNULL(comment_count,0)-1 <![CDATA[<]]> 0 THEN 0 ELSE IFNULL(comment_count,0)-1 END
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findPostsOfMyFandoms" parameterType="java.lang.String" resultMap="postInfoResultMap">
        SELECT
            T1.id,
            T1.post_title,
            T1.post_content,
            T1.post_newsfeeds,
            T1.post_time,
            T1.like_count likes,
            T1.comment_count comments,
            T2.sn ui_sn,
            T2.nickname ui_nickname,
            T2.mobile ui_mobile,
            T2.email ui_email,
            T2.gender ui_gender,
            T2.member_avatar ui_member_avatar,
            d.id fi_id,
            d.fandom_name fi_fandom_name,
            d.fandom_intro fi_fandom_intro,
            d.fandom_avatar_url fi_fandom_avatar_url,
            (SELECT
                    count(1)
                FROM
                    feeds_member_post_like
                WHERE
                    post_id = T1.id
                    AND member_sn=#{memberSn,jdbcType=VARCHAR}
            ) liked
        FROM
            feeds_member_fandom c,
            feeds_member_post_fandom T1,
            connects_member_profile T2,
            feeds_fandom d
        WHERE
            c.member_sn = #{memberSn,jdbcType=VARCHAR}
        AND c.fandom_id = T1.fandom_id
        AND T1.member_sn = T2.sn
        AND c.fandom_id=d.id
        order by T1.id desc
    </select>

    <select id="findPostsOfMyFriends" parameterType="java.lang.String" resultMap="postInfoResultMap">
            SELECT
            a.id,
            a.post_title,
            a.post_content,
            a.post_newsfeeds,
            a.post_time,
            a.like_count likes,
            a.comment_count comments,
            b.sn ui_sn,
            b.nickname ui_nickname,
            b.member_avatar ui_member_avatar,
            (SELECT
                    count(1)
                FROM
                    feeds_member_post_like
                WHERE
                    post_id = a.id
                    AND member_sn=#{memberSn,jdbcType=VARCHAR}
            ) liked
        FROM
            feeds_member_post_fandom a,
            connects_member_profile b,
            connects_member_relation c
        WHERE
              c.my_member_sn = #{memberSn,jdbcType=VARCHAR}
                AND c.friend_member_sn = a.member_sn
                AND a.member_sn=b.sn
                AND a.post_newsfeeds = '1'
                AND c.relation_status IN ('10','11')
                AND a.fandom_id IS NULL
        ORDER BY a.id DESC
    </select>

    <select id="searchPosts" parameterType="java.lang.String" resultMap="postInfoResultMap">
        SELECT
            f.id,
            f.post_title,
            f.post_content,
            f.post_newsfeeds,
            f.post_time,
            p.sn ui_sn,
            p.nickname ui_nickname,
            p.member_avatar ui_member_avatar,
            g.id fi_id,
            g.fandom_name fi_fandom_name,
            g.fandom_intro fi_fandom_intro,
            g.fandom_avatar_url fi_fandom_avatar_url
        FROM
            feeds_member_post_fandom f
        LEFT JOIN feeds_fandom g     ON g.id=f.fandom_id
        LEFT JOIN connects_member_profile p ON f.member_sn = p.sn
        WHERE
            f.post_title LIKE concat('%',#{searchVal},'%')
        or f.post_content LIKE concat('%',#{searchVal},'%')
    </select>

    <select id="getPost" parameterType="com.fansz.fandom.model.post.PostParam" resultMap="postInfoResultMap">
        SELECT
            p.id,
            p.post_title,
            p.post_content,
            p.post_newsfeeds,
            p.post_time,
            p.like_count likes,
            (
                SELECT
                    count(1)
                FROM
                    feeds_member_post_like l
                WHERE
                    l.member_sn = #{currentSn,jdbcType=VARCHAR}
                    and l.post_id=p.id
            ) liked,
            p.comment_count comments,
            f.id fi_id,
            f.fandom_name fi_fandom_name,
            f.fandom_parent_id fi_fandom_parent_id,
            f.fandom_creator_sn fi_fandom_creator_sn,
            f.fandom_avatar_url fi_fandom_avatar_url,
            f.fandom_intro fi_fandom_intro,
            mp.sn ui_sn,
            mp.nickname ui_nickname,
            mp.member_avatar ui_member_avatar
        FROM
            feeds_member_post_fandom p
        LEFT JOIN feeds_fandom f ON f.id = p.fandom_id
        LEFT JOIN connects_member_profile mp ON mp.sn = p.member_sn
        WHERE p.id = #{postId,jdbcType=VARCHAR}
    </select>


    <select id="listTimedMemberFandomPosts" resultMap="postInfoResultMap">
        SELECT
            T1.id,
            T1.post_title,
            T1.post_content,
            T1.post_newsfeeds,
            T1.post_time,
            T2.sn ui_sn,
            T2.nickname ui_nickname,
            T2.member_avatar ui_member_avatar,
           <if test="mySn != null">
            (SELECT count(1)  FROM  feeds_member_post_like  WHERE   post_id = T1.id  AND member_sn=#{mySn,jdbcType=VARCHAR}) liked,
            </if>
            T1.like_count likes,
            T1.comment_count comments
            FROM
            feeds_member_post_fandom T1
            LEFT JOIN
            connects_member_profile T2 ON T1.member_sn = T2.sn
            WHERE T1.fandom_id = #{fandomId,jdbcType=BIGINT}
            <if test="memberSn != null">
                AND T1.member_sn=#{memberSn,jdbcType=VARCHAR}
            </if>
            ORDER BY T1.id DESC
    </select>

    <select id="listHotMemberFandomPosts" resultMap="postInfoResultMap">
        SELECT
            T1.id,
            T1.post_title,
            T1.post_content,
            T1.post_newsfeeds,
            T1.post_time,
            T1.like_count likes,
            T1.comment_count comments,
        <if test="mySn != null">
            (SELECT count(1)  FROM  feeds_member_post_like  WHERE   post_id = T1.id  AND member_sn=#{mySn,jdbcType=VARCHAR}) liked,
        </if>
        T2.sn ui_sn,
        T2.nickname ui_nickname,
        T2.member_avatar ui_member_avatar
        FROM feeds_member_post_fandom T1
        LEFT JOIN connects_member_profile T2
        ON T1.member_sn = T2.sn
        WHERE T1.fandom_id = #{fandomId,jdbcType=BIGINT}
        <if test="memberSn != null">
            AND T1.member_sn=#{memberSn,jdbcType=VARCHAR}
        </if>
        ORDER BY T1.like_count DESC
    </select>


    <select id="getPostsAllByMember" parameterType="java.lang.String" resultMap="postInfoResultMap">
        SELECT
            f.id,
            f.post_title,
            f.post_content,
            f.post_newsfeeds,
            f.post_time,
            (SELECT count(1)  FROM  feeds_member_post_like  WHERE   post_id = f.id  AND member_sn=#{memberSn,jdbcType=VARCHAR}) liked,
            f.like_count likes,
            f.comment_count comments,
            m.id fi_id,
            m.fandom_name fi_fandom_name,
            m.fandom_parent_id fi_fandom_parent_id,
            m.fandom_avatar_url fi_fandom_avatar_url,
            m.fandom_creator_sn fi_fandom_creator_sn,
            m.fandom_intro fi_fandom_intro
        FROM
            feeds_member_post_fandom f
        LEFT JOIN connects_member_profile p ON f.member_sn = p.sn
        LEFT JOIN feeds_fandom m ON f.fandom_id = m.id
        WHERE f.member_sn = #{friendSn,jdbcType=VARCHAR}
        ORDER BY f.id DESC
    </select>

</mapper>