<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fansz.fandom.repository.UserRelationEntityMapper">
    <resultMap id="BaseResultMap" type="com.fansz.fandom.entity.UserRelationEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="my_member_sn" jdbcType="VARCHAR" property="myMemberSn"/>
        <result column="friend_member_sn" jdbcType="VARCHAR" property="friendMemberSn"/>
        <result column="relation_status" jdbcType="VARCHAR" property="relationStatus"/>
    </resultMap>
    <resultMap id="contactInfoMap" type="com.fansz.fandom.model.profile.ContactInfoResult">
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="member_avatar" jdbcType="VARCHAR" property="memberAvatar"/>
        <result column="profile_createtime" jdbcType="TIMESTAMP" property="profileCreatetime"/>
        <result column="profile_updatetime" jdbcType="TIMESTAMP" property="profileUpdatetime"/>
        <result column="member_type" jdbcType="VARCHAR" property="memberType"/>
        <result column="relation_status" jdbcType="VARCHAR" property="relationship"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, my_member_sn, friend_member_sn, relation_status
    </sql>

    <select id="findFriendRelationBySns" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM connects_member_relation
        WHERE (my_member_sn=#{memberSn,jdbcType=VARCHAR} AND friend_member_sn=#{friendSn,jdbcType=VARCHAR})
    </select>


</mapper>