<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="members-service-provider" owner="members" organization="fansz"/>

    <!-- 用rest协议在7001端口暴露服务 -->
    <dubbo:protocol name="rest" port="${dubbo.rest.port}" server="netty" serialization="jackson" iothreads="5" threads="100"  extension="com.fansz.members.extension.ApplicationExceptionMapper,com.fansz.members.extension.ValidationExceptionMapper"/>
    <!--7002端口提供RPC服务-->
    <dubbo:protocol name="dubbo" serialization="kryo" port="${dubbo.rpc.port}"
                    optimizer="com.fansz.members.extension.MembersSerialOptimizerImpl"/>

    <!-- use tomcat server
    <dubbo:protocol name="rest" port="8888" threads="500" contextpath="services" server="tomcat" accepts="500"
                    extension="com.alibaba.dubbo.demo.extension.TraceInterceptor,
                    com.alibaba.dubbo.demo.extension.TraceFilter,
                    com.alibaba.dubbo.demo.extension.ClientTraceFilter,
                    com.alibaba.dubbo.demo.extension.DynamicTraceBinding,
                    com.alibaba.dubbo.demo.extension.CustomExceptionMapper,
                    com.alibaba.dubbo.rpc.protocol.rest.support.LoggingFilter"/>
     -->

    <!-- 使用redis注册中心暴露服务地址
    <dubbo:registry address="redis://10.0.0.8:6379?backup=edis://10.0.0.8:6380"/>-->
    <dubbo:registry address="${dubbo.registry.address}"/>


    <!-- 声明需要暴露的服务接口 -->

    <dubbo:service interface="com.fansz.members.api.AccountApi" ref="accountProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.CommentApi" ref="commentProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.FandomApi" ref="fandomProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.PostApi" ref="postProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.ProfileApi" ref="profileProvider" validation="true" timeout="2000"
                   connections="100"/>
    <dubbo:service interface="com.fansz.members.api.RelationShipApi" ref="relationShipProvider" validation="true" timeout="2000"
                   connections="100"/>
    <dubbo:service interface="com.fansz.members.api.VerifyCodeApi" ref="verifyCodeProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.SeedingSpotApi" ref="seedingSpotProvider" validation="true" timeout="2000"
                   connections="100"/>

    <dubbo:service interface="com.fansz.members.api.SpecialFocusApi" ref="specialFocusProvider" validation="true" timeout="2000"
                   connections="100"/>

</beans>