<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="fansz-access-layer" owner="backend-team" organization="fansz" logger="slf4j"/>

    <dubbo:registry address="${dubbo.registry.address}"/>

    <dubbo:monitor protocol="dubbo" address="${dubbo.registry.address}"/>

    <dubbo:reference interface="com.fansz.auth.api.AccountApi" id="accountProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.auth.api.VerifyCodeApi" id="verifyCodeProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.auth.api.OssApi" id="ossProvider" validation="true"
                     scope="remote"
                     protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>



    <dubbo:reference interface="com.fansz.fandom.api.CommentApi" id="commentProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.FandomApi" id="fandomProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.FandomPostApi" id="postProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.ProfileApi" id="profileProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.relations.api.RelationShipApi" id="relationShipProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.SeedingSpotApi" id="seedingSpotProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.SpecialFocusApi" id="specialFocusProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.MessageCenterApi" id="messageCenterProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="1" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.newsfeeds.api.NewsfeedsCommentApi" id="newsfeedsCommentProvider" validation="true"
                      scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.newsfeeds.api.NewsfeedsPostApi" id="newsfeedsPostProvider" validation="true"
                       scope="remote"
                      protocol="dubbo" client="netty4" version="${provider.version}" retries="0" group="${provider.group}"/>

    <dubbo:reference interface="com.fansz.fandom.api.FandomTagApi" id="fandomTagProvider" validation="true"
                     timeout="5000"
                     connections="100" protocol="dubbo" client="netty4" version="0.0.1" retries="1" group="${provider.group}"/>

</beans>